*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    overflow: hidden;
}
.container {
    display: flex;
    align-items: center;
    gap: 50px;
}
.img-side {
    padding-top: 1px;
    width: 30%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1553414701-7e7de9266721?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGRlc2VydCUyMG5pZ2h0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
}

.logo {
    text-align: center;
    padding: 30px;
    background-color: #0000004f;
    color: white;
    text-transform: uppercase;
    margin-top: 160px;
    font-size: 3rem;
}

.right-side p {
    max-width: 700px;
    font-size: 1.1rem;
}

form {
    margin-top: 50px;
}

form label {
    text-transform: uppercase;
    display: flex;
    flex-direction:column;
    margin: 20px 60px 20px 0;
    gap: 5px;
}

form label input {
    width: 300px;
    font-size: 1.4rem;
    padding: 5px;
    color: #353535;
}

form label input:focus {
    outline: none;
    border: 1px solid black;
}

form label input:valid {
    border: 1px solid green;
}

form label input:invalid:focus {
    border:1px solid red;
}

.column {
    display: flex;
}

button {
    border: 2px solid #001740;
    color: #001740;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: transparent;
    padding: 20px ;
    transition: 0.1s;
    margin-top: 20px;
}

button:hover {
    background-color: #001740;
    color: white;
}

.log {
    margin-top: 20px;
}

a {
    color: #001740;
}